replicaCount: 1

image:
  repository: meiot/hellomct-dotnet
  pullPolicy: IfNotPresent
  tag: "1.1"

imagePullSecrets:
- name: dockerhub-secret
nameOverride: ""
fullnameOverride: hellomct-hello

serviceAccount:
  create: true
  annotations: {}
  name: ""

httpRoute:
  enabled: false
  name: ""
  annotations: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

service:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 8080
      path: /hello(/|$)(.*)
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
  hosts:
    - host: hellomct.meiot.live

livenessProbe:
  httpGet:
    path: /
    port: 8080
readinessProbe:
  httpGet:
    path: /
    port: 8080

volumes:
  - name: config-volume
    configMap:
      name: hellomct-hello-config

volumeMounts:
  - name: config-volume
    mountPath: /app/appsettings.json
    subPath: appsettings.json 

